<style type="text/tailwindcss">
  @theme {

    --color-brand-primary: #4BAEDB;
    --color-brand-primary-dark: #0A6B8E;
    --color-brand-primary-deep: #1C4B6B;
    
    --color-brand-secondary: #EF713F;
    --color-brand-tertiary: #F9D423;
    --color-brand-neutral: #2D2D2D;
    

    --color-brand-gray-light: #F1F1F1;
    --color-brand-gray-border: #E5E5E5;


    --font-headline: "Plus Jakarta Sans", sans-serif;
    --font-body: "Poppins", sans-serif;
    --font-label: "Lexend", sans-serif;
  }
</style>
